FlightProviderA/src/main/resources/flight.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="http://flightprovidera.com"
  targetNamespace="http://flightprovidera.com"
  elementFormDefault="qualified">

  <xs:element name="availabilitySearchRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="origin" type="xs:string" />
        <xs:element name="destination" type="xs:string" />
        <xs:element name="departureDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="availabilitySearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="hasError" type="xs:boolean" />
        <xs:element name="flightOptions" type="tns:FlightList" />
        <xs:element name="errorMessage" type="xs:string" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="FlightList">
    <xs:sequence>
      <xs:element name="flight" type="tns:Flight" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Flight">
    <xs:sequence>
      <xs:element name="flightNo" type="xs:string" />
      <xs:element name="origin" type="xs:string" />
      <xs:element name="destination" type="xs:string" />
      <xs:element name="departuredatetime" type="xs:dateTime" />
      <xs:element name="arrivaldatetime" type="xs:dateTime" />
      <xs:element name="price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>